/* Style sheet for Weather-Dashboard application
/*         Richard Ay,  August/September 2020    */

/* Implement the custom Google Styles */
body {
  font-family: "Staatliches", "Open Sans", sans-serif;
}

.row {
  margin-left: 5px;
  margin-right: 5px;
}


h1, h2, h3, h4, h5, h6 {
  font-family: "Staatliches", sans-serif;
}

.h7 {
  font-size: 0.5em;
}

.today {
  font-family: "Staatliches", "Open Sans", sans-serif;
  font-size: 1.1em;
}

.currentday {
  margin: 10px 0 10px 0;
}

.local1 {
  margin-bottom: 0;
  padding-bottom: 0;
  text-align: bottom;
}

.local2 {
  margin-top: 0;
  padding-top: 0;
  font-size: 0.85em;
}

.local3 {
  margin-bottom: 5px;
  padding-bottom: 0;
  text-align: bottom;
  font-size: 1em;
}

.redwhite {
  background-color: red;
  color: white;
  padding-left: 8px;
  padding-right: 8px;
}


h5, .forecast {
  font-weight: bold;
  margin: 30px 0 10px 0;
}

h1 {
  background-color: blue;
  color: white;
  padding: 10px 0 5px 0;
  text-align: center;
  font-family:  sans-serif;
  font-weight:  bolder;
}

.card {
  min-width: 80%; 
  justify-content: left;
}

.card-header {
  padding-top: 0;
  margin-top: 10px;
}

.previous {
  padding-bottom: 3px;
  margin-bottom: 0px;
}



/* General list style */
ul.list-group {
  min-height: 130px;
}

.daycard, ul {
  background-color: blue;
  color: white;
  list-style-type: none;
  min-width: 15%;
  justify-content: left;
  text-align: left;
  padding-top: 5px;
  padding-left: 5px;
  font-size: .9em;
}


/* Define the style for the 'text buttons', used for the 'previous city" list */
.btn {
  border: none;
  background-color: inherit;
  color: blue;
  padding: 5px 0 5px 5px;
  font-size: 16px;
  cursor: pointer;
}

.btn:hover {
  background: #eeeeee;
}
